body{
    overflow-x: auto !important;
}
#root{
    max-width: 1920px;
    min-width: 1500px;
}

/* ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar:vertical {
    background: #f1f1f1;
    width: 17px;
  }
  
  ::-webkit-scrollbar:horizontal {
    background: #f1f1f1;
    height: 17px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  } */
  
.base{
    width: 1400px;
    margin: auto;
}

#main-logo{
    width: 200px;
}

.user-buttons{
    float: right;
}
.search-box{
    top: 25%;
}

.search-box .search .input{
    display: block;
}

.menu-wrapper .ui.button{
    background: none;
}
.menu-bar{
    border-top: solid violet 1px;
}

.slider-box{
    padding: 50px 0px 50px 0px;
}
.festival-banner img{
    height: 500px;
    width: 1000px;
}

.google-ad{
    background-color: gray;
    width: 350px;
    height: 200px;
}