body{
    overflow-x: auto !important;
}

footer{
    background-color: rgb(70, 18, 70);
}
#root{
    max-width: 1920px;
    min-width: 1500px;
}

/* ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar:vertical {
    background: #f1f1f1;
    width: 17px;
  }
  
  ::-webkit-scrollbar:horizontal {
    background: #f1f1f1;
    height: 17px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  } */
.dash{
    padding: 5px 5px 5px 0px;
    margin-right: 5px;
}
.base{
    width: 1400px;
    margin: auto;
}

#main-logo{
    width: 200px;
}

.user-buttons{
    float: right;
}
.search-box{
    top: 25%;
}

.search-box .search .input{
    display: block;
}

.menu-wrapper .ui.button{
    background: none;
}
.menu-bar{
    border-top: solid violet 1px;
}

.slider-box{
    padding: 50px 0px 50px 0px;
}
.festival-banner img{
    height: 500px;
    width: 1000px;
}
.notice-box{
    margin-bottom: 25px;
}
.notice-banner{
    width: 50px;
}
.google-ad{
    background-color: gray;
    width: 100%;
    height: 275px;
    margin-bottom: 25px;
}
.twitter-box{
    width: 100%;
}
.twitter-timeline{
    background-color: purple;
    width: 100%;
    height: 500px;
}
.detail-filter .fields{
    padding-left: 10px;
    text-align: center;
}
.detail-filter .label{
    line-height: 2 !important;
}
.view_type{
    text-align: end;
}